{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb-typescript/base"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "ignorePatterns": [
    "dist/",
    "node_modules/"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "no-console": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off"
  }
}
