* {
  box-sizing: border-box;
}

section {
  h2 {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #474a73;
  }
  + section {
    margin-top: 50px;
  }
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
