* {
  box-sizing: border-box;
}

section {
  h2 {
    display: flex;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #474a73;
    > span {
      display: flex !important;
      align-items: center;
      > .uk-icon {
        margin-right: 8px;
      }
    }
  }
  .show-more-wrap {
    margin-top: 50px;
    text-align: center;
  }
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
