.mx--auto {
  margin-left: auto;
  margin-right: auto;
}

.text--center {
  text-align: center;
}

.container {
  box-sizing: content-box;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media only screen and (max-width: 960px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media only screen and (max-width: 640px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.icon {
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  padding: 0;
  background-color: transparent;
  display: inline-block;
  fill: currentcolor;
  line-height: 0;
}
