.mx--auto {
  margin-left: auto;
  margin-right: auto;
}

.text--center {
  text-align: center;
}

.mt-50 {
  margin-top: 50px;
}

.icon {
  margin: 0;
  border: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  padding: 0;
  background-color: transparent;
  display: inline-block;
  fill: currentcolor;
  line-height: 0;
}

.divider-icon {
  position: relative;
  height: 20px;
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22none%22%20stroke%3D%22%23e5e5e5%22%20stroke-width%3D%222%22%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%227%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  margin-bottom: 20px;
  &::before, &::after {
    content: "";
    position: absolute;
    top: 50%;
    max-width: calc(50% - (50px / 2));
    border-bottom: 1px solid #e5e5e5;
  }
  &::before {
    right: calc(50% + (50px / 2));
    width: 100%;
  }
  &::after {
    left: calc(50% + (50px / 2));
    width: 100%;
  }
}

.btn-more {
  margin: 0;
  border: 1px solid #e5e5e5;
  overflow: visible;
  font: inherit;
  color: #333;
  border-radius: 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: .875rem;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: .1s ease-in-out;
  transition-property: color,background-color,border-color;
  &:hover {
    background-color: transparent;
    color: #333;
    border-color: #b2b2b2;
  }
}
