.max--width {
  max-width: 600px;
}

.mx--auto {
  margin-left: auto;
  margin-right: auto;
}

.text--center {
  text-align: center;
}

.background--image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  will-change: background-position;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3)
  }
}

.avatar--image {
  border-radius: 20px;
}
