<!DOCTYPE html>
<html lang="en">
<head>
  ${require('html-loader?interpolate!../parts/head/index.html')}
</head>
<body>

<%
const humanizeDuration = require('humanize-duration')

const months = [
  'January', 'February', 'March',
  'April', 'May', 'June',
  'July', 'August', 'September',
  'October', 'November', 'December'
]

getDate = (date) => {
  return months[date.getMonth() - 1] + ' ' + date.getFullYear()
}

diffDate = (date1, date2) => {
  return humanizeDuration(date2.getTime() - date1.getTime(), {
    units: ['y', 'mo'],
    round: true
  })
}

safeQuotes = (str) => {
  return str.replace(/"/g, '&quot;')
}
%>

<div id="app">
  <header id="header" class="box--shadow display--flex">
    <aside class="h-ls background-image width--100">
      <div class="h-ls__inner text--center">
        <div class="h-ls__inner__image avatar-image radius--circle box--shadow"></div>
        <div class="h-ls__inner__name mb--5">
          <h1 class="font--bold"><%= htmlWebpackPlugin.options.full_name %></h1>
        </div>
        <div class="h-ls__inner__profession"><%= htmlWebpackPlugin.options.profession %></div>
        <div class="h-ls__inner__separator"></div>
        <div class="h-ls__inner__pdf <%= htmlWebpackPlugin.options.resume ? '' : 'h-ls__inner__pdf_none' %>">
          <a href="<%= htmlWebpackPlugin.options.resume %>" target="_blank" rel="noopener">
            Resume
          </a>
        </div>
        <div class="h-ls__inner__separator"></div>
        <div class="h-ls__inner__social">
          <ul>
            <% for (const media of htmlWebpackPlugin.options.social_media) { %>
              <li>
                <a href="<%= media.href %>" title="<%= safeQuotes(media.name) %>" target="_blank" rel="noopener">
                  <i class="fa fa-<%= media.icon %>" aria-hidden="true"></i>
                </a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </aside>
    <div class="h-rs">
      <% if (htmlWebpackPlugin.options.looking_job) { %>
        <div class="h-rs__alert">Looking a job</div>
      <% } %>
      <div class="h-rs-wrap">
        <div class="h-rs-wrap__about">
          <h2 class="h-rs-wrap__about__title">About me</h2>
          <div class="h-rs-wrap__about__content">
            <%= htmlWebpackPlugin.options.about_me %>
          </div>
        </div>
        <div class="h-rs-wrap__skills">
          <h2 class="h-rs-wrap__skills__title">Skills</h2>
          <ul class="font--bold">
            <% for (const skill of htmlWebpackPlugin.options.skills) { %>
              <li><%= skill %></li>
            <% } %>
          </ul>
        </div>
        <div class="h-rs-wrap__languages">
          <h2 class="h-rs-wrap__languages__title">Languages</h2>
          <ul class="font--bold">
            <% for (const lang of htmlWebpackPlugin.options.languages) { %>
              <li>
                <span class="name"><%= lang.name %></span>
                <span class="skill skill-<%= lang.skill.toLowerCase().replace(/\s/g, '_') %>"><%= lang.skill %></span>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
      <% if (htmlWebpackPlugin.options.display_repository) { %>
        <div class="h-rs__bottom">
          <a href="<%= htmlWebpackPlugin.options.github_url %>" title="Github repository" target="_blank" rel="noopener">
            Repository
          </a>
        </div>
      <% } %>
    </div>
  </header>

  <div id="content">
    <% if (htmlWebpackPlugin.options.display_experience) { %>
      <div class="content-block experience">
        <div class="content-block__title">
          <h2>Experience</h2>
        </div>
        <div class="content-block__content">
          <div class="experience-list box--shadow">
            <% for (const company of htmlWebpackPlugin.options.experience) { %>
              <div class="experience-item">
                <div class="experience-item-header">
                  <% if (company.image) { %>
                    <div class="experience-item-header__image">
                      <img src="<%= company.image %>" alt="<%= safeQuotes(company.name) %>">
                    </div>
                  <% } %>
                  <div class="experience-item-header__position">
                    <%= company.position %>
                  </div>
                  <div class="experience-item-header__name">
                    <%= company.name %>
                  </div>
                  <div class="experience-item-header__dates">
                    <%= getDate(company.dates.start) %> -

                    <% if (company.dates.end) { %>
                      <%= getDate(company.dates.end) + ' (' + diffDate(company.dates.start, company.dates.end) + ')' %>
                    <% } else { %>
                      Present
                    <% } %>
                  </div>
                </div>
                <div class="experience-item__description">
                  <%= company.description %>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>

    <% if (htmlWebpackPlugin.options.display_education) { %>
      <div class="content-block education">
        <div class="content-block__title">
          <h2>Education</h2>
        </div>
        <div class="content-block__content">
          <div class="education-list">
            <% for (const education of htmlWebpackPlugin.options.education) { %>
              <a href="<%= education.href %>" class="education-item box--shadow" title="<%= safeQuotes(education.name) %>"
                 target="_blank" rel="noopener nofollow">
                <div class="education-item__image">
                  <img src="<%= education.image %>" alt="<%= safeQuotes(education.name) %>">
                </div>
                <div class="education-item-content">
                  <div class="education-item-content__title">
                    <%= education.name %>
                  </div>
                  <div class="education-item-content__subtitle">
                    <%= `${education.degree}, ${education.specialization}` %>
                  </div>
                  <div class="education-item-content__dates">
                    <%= `${education.year.start} - ${education.year.end}` %>
                  </div>
                </div>
                <div class="education-item__icon">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
              </a>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>

    <% if (htmlWebpackPlugin.options.display_projects) { %>
      <div class="content-block projects">
        <div class="content-block__title">
          <h2>Projects</h2>
        </div>
        <div class="content-block__content">
          <div class="projects-filters">
            <div class="project-filters__list">
              <ul>
                <% for (const filter of htmlWebpackPlugin.options.projects.filters) { %>
                  <li data-filter="<%= filter.value %>"><%= filter.name %></li>
                <% } %>
              </ul>
            </div>
          </div>
          <div class="projects-list box--shadow">
            <ul>
              <% for (const project of htmlWebpackPlugin.options.projects.items) { %>
                <li data-technologies="<%= project.filters.join(', ') %>">
                  <div class="project-item">
                    <% if (project.href) { %>
                      <a href="<%= project.href %>" class="project-item__link" title="<%= safeQuotes(project.name) %>"
                         target="_blank" rel="noopener">
                      </a>
                    <% } %>
                    <div class="project-item__image">
                      <img src="<%= project.image %>" alt="<%= safeQuotes(project.name) %>">
                      <i class="fa fa-external-link" aria-hidden="true"></i>
                    </div>
                    <div class="project-item__content">
                      <div class="project-item__content__name">
                        <%= project.name %>
                      </div>
                      <div class="project-item__content__description">
                        <%= project.description %>
                      </div>
                    </div>
                  </div>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>

</body>
</html>
