#content {

}

.content__block {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  > h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 20px;
    text-align: center;
  }
}
