<!DOCTYPE html>
<% var data = htmlWebpackPlugin.options %>
<html lang="en">
<head>
  <!-- START: Common part -->
  <meta charset="utf-8">
  <title><%= data._profile.name %></title>
  <link rel="icon" href="/favicon.ico">
  <meta property="og:title" content="Portfolio by <%= data._profile.name %>" />
  <meta property="og:type" content="profile" />
  <meta property="og:image" content="<%= data._profile.avatar_url %>" />
  <meta property="og:url" content="https://<%= data._config.username %>.github.io/<%= data._config.base %>" />
  <meta property="og:description" content="<%= data._profile.bio %>" />
  <meta property="profile:username" content="<%= data._profile.login %>" />
  <% for (let [property, content] of Object.entries(data._config.opg)) { %>
    <meta property="<%= property %>" content="<%= content %>" />
  <% } %>
  <!-- END: Common part -->
</head>
<body>
<%= data._profile.id %>
</body>
</html>
