<!DOCTYPE html>
<html lang="en">
<head>
  ${require('html-loader?interpolate!../parts/head/index.html')}
  <style>
    .background--image {
      background: url(<%= htmlWebpackPlugin.options.background_img %>);
    }
    .avatar--image {
      background: url(<%= htmlWebpackPlugin.options.avatar_img %>);
    }
  </style>
</head>
<body>

<div id="app">
  <header id="header">
    <div class="header__background background--image"></div>
    <div class="header__resume">
      <% if (htmlWebpackPlugin.options.resume) { %>
        <a href="<%= htmlWebpackPlugin.options.resume %>" target="_blank" rel="noopener">
          Resume
        </a>
      <% } %>
    </div>
    <div class="header__content">
      <div class="header__content__image">
        <div class="avatar--image"></div>
      </div>
      <h1 class="header__content__name"><%= htmlWebpackPlugin.options.full_name %></h1>
    </div>
  </header>
  <div id="content">
    123
  </div>
</div>

</body>
</html>
