@import "../variables";

.project-filters__list {
  overflow: auto;
  li {
    display: inline-block;
    padding: 5px 20px;
    background: #f9f9f9;
    box-shadow: $box-shadow;
    cursor: pointer;
    font-size: 1.1rem;
    float: left;
    margin: 0 15px 15px 0;
    border: 1px solid #e7e7e7;
    transition: .2s;
    &:hover {
      background: #f1f1f1;
    }
    &[active=true] {
      background: $color-primary;
      border-color: $color-primary;
      color: #fff;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.projects-list {
  background: #fff;
  padding: 20px;
  overflow: auto;
  ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, auto);
  }
}

.project-item {
  position: relative;
  &:hover {
    .project-item__link + .project-item__image {
      &:after {
        opacity: 1;
      }
      .fa-external-link {
        opacity: 1;
      }
    }
  }
}

.project-item__image {
  position: relative;
  line-height: 0;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .2s;
    background: rgba(0, 0, 0, .7);
  }
  .fa-external-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    opacity: 0;
    z-index: 99;
  }
}

.project-item__content {
  margin-top: 10px;
}

.project-item__content__name {
  font-weight: bold;
  font-size: 1.2rem;
}

.project-item__content__description {
  margin-top: 10px;
  font-size: 0.9rem;
}

.project-item__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

/* Responsive design */

@media only screen and (max-width: 768px) {
  .projects-list ul {
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (max-width: 425px) {
  .projects-list {
    border-left: 0;
    border-right: 0;
    ul {
      grid-template-columns: auto;
    }
    li {
      border-bottom: 1px solid #e7e7e7;
      padding-bottom: 20px;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
  .projects-filters {
    padding: 0 10px;
  }
}
