@import "variables";

* {
  box-sizing: border-box;
}

html {
  height: calc(100% + 1px);
}

body {
  margin: 50px 20px;
  background: #f7f7f7;
  //font-family: 'Inconsolata', monospace;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: #333;
  line-height: 1.3rem;
}

a {
  text-decoration: none;
  color: #f00;
  transition: .2s;
  outline: 0;
  &:hover {
    text-decoration: none;
    color: #333;
  }
  &[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: .9;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  height: 4px;
  background-color: $color-primary;
}

/* Responsive design */

@media only screen and (max-width: 768px) {
  body {
    margin: 20px;
  }
}

@media only screen and (max-width: 425px) {
  body {
    margin: 0;
  }
}
