@import "variables";

#header {
  background: #fff;
  h2 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 10px;
    background: $color-primary;
    margin: 0 0 15px;
    padding: 0 30px;
    color: rgba(255, 255, 255, .95);
    line-height: 1.5rem;
    min-width: 150px;
    text-align: center;
  }
}

/* Left side */

.h-ls {
  position: relative;
  max-width: 300px;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-size: cover;
  cursor: default;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #232526;
    background: linear-gradient(to top, rgba(65, 67, 69, .8), rgba(35, 37, 38, .8));
  }
}

.h-ls__inner {
  position: relative;
  padding: 50px 50px 30px;
  max-width: 500px;
  margin: 0 auto;
}

.h-ls__inner__image {
  width: 170px;
  height: 170px;
  line-height: 0;
  margin: 0 auto 20px;
  background-position: center;
  background-size: cover;
}

.h-ls__inner__name {
  color: rgba(255, 255, 255, .87);
  > h1 {
    margin: 0;
    font-size: 1.5rem;
  }
}

.h-ls__inner__profession {
  color: rgba(255, 255, 255, .6);
  font-size: 1rem;
}

.h-ls__inner__separator {
  margin: 35px 0;
  border-bottom: 1px solid #747474;
}

.h-ls__inner__pdf {
  > a {
    display: block;
    padding: 10px 0;
    background: rgba(255, 255, 255, .1);
    color: rgba(255, 255, 255, .9);
    border-radius: 10px;
    transition: .2s;
    font-weight: bold;
    font-size: .9rem;
    &:hover {
      background: rgba(255, 255, 255, .2);
    }
  }
}

.h-ls__inner__pdf_none {
  opacity: .5;
  pointer-events: none;
}

.h-ls__inner__social {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  a {
    display: block;
    color: #fff;
    line-height: 0;
    padding: 8px;
    margin: 0 15px 20px;
    opacity: .8;
    transition: .3s;
    &:hover {
      opacity: 1;
    }
  }
}

/* Right side */

.h-rs {
  position: relative;
  display: flex;
  padding: 20px;
  width: 100%;
  line-height: 1.5rem;
  flex-direction: column;
}

.h-rs__alert {
  position: absolute;
  top: 20px;
  right: 25px;
  color: #c60a0a;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8rem;
}

.h-rs-wrap {
  flex: 1;
  > * {
    margin-bottom: 15px;
    overflow: auto;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.h-rs-wrap__about__content {
  text-align: justify;
  text-indent: 20px;
  font-size: .9rem;
  font-style: italic;
  p {
    margin: 5px 0;
  }
}

/* Skills */

.h-rs-wrap__skills li {
  position: relative;
  display: inline-block;
  padding: 5px 10px 2px;
  border-bottom: 2px solid $color-primary;
  margin: 0 10px 10px 0;
  min-width: 70px;
  text-align: center;
  float: left;
  font-size: .9rem;
}

/* Languages */

.h-rs-wrap__languages {
  @extend .h-rs-wrap__skills;
  li {
    border: none;
    margin: 0 0 10px 0;
  }
  .name {
    color: #222;
  }
  .skill {
    font-size: .7rem;
    vertical-align: super;
    font-style: italic;
    &.skill-elementary {
      color: #d90000;
    }
    &.skill-intermediate {
      color: #204e7a;
    }
    &.skill-native {
      color: #0e7d00;
    }
  }
}

/* Bottom */

.h-rs__bottom {
  text-align: right;
  text-transform: uppercase;
  font-size: .6rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 10px;
  > a {
    color: #333;
    &:hover {
      color: #f00;
    }
  }
}

/* Responsive design */

@media only screen and (max-width: 768px) {
  #header {
    flex-direction: column;
  }
  .h-ls {
    max-width: unset;
  }
}
