<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.name %></title>
  <meta name="author" content="<%= htmlWebpackPlugin.options.name %>, <%= htmlWebpackPlugin.options.email %>">
</head>
<body>

<div id="app">
  <header id="header" class="box--shadow">
    <aside class="ls">
      <div class="ls__inner text--center">
        <div class="ls__image radius--circle"></div>
        <div class="ls__name">
          <h1><%= htmlWebpackPlugin.options.name %></h1>
        </div>
        <div class="ls__profession"><%= htmlWebpackPlugin.options.profession %></div>
        <div class="ls__separator"></div>
        <div class="ls__pdf">
          <a href="src/files/resume.pdf">Download PDF</a>
        </div>
        <div class="ls__separator"></div>
        <div class="ls__social">
          <ul>
            <li>
              <a href="https://twitter.com/<%= htmlWebpackPlugin.options.social.twitter %>" target="_blank" rel="noopener">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/<%= htmlWebpackPlugin.options.social.linkedin %>" target="_blank" rel="noopener">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/<%= htmlWebpackPlugin.options.social.github %>" target="_blank" rel="noopener">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>
    <div class="rs">

    </div>
  </header>

  <div id="content">
    <div class="content__block jobs box--shadow">
      <h2>Jobs</h2>
    </div>
    <div class="content__block skills box--shadow">
      <h2>Education</h2>
      <!--<% for (const e of htmlWebpackPlugin.options.education) { %>-->
      <!--<%= e.name %>-->
      <!--<% } %>-->
    </div>
    <div class="content__block projects box--shadow">
      <h2>Projects</h2>
      <div class="projects__filters">
        <!--TODO move to config file-->
        <ul>
          <li data-filter="open-source">Open Source</li>
          <li data-filter="php">PHP</li>
          <li data-filter="web">HTML / CSS / JS</li>
          <li data-filter="vue">Vue</li>
          <li data-filter="c#">C#</li>
        </ul>
      </div>
      <div class="projects__list">
        <a href="#" data-technologies="open-source, php, web">First</a>
        <a href="#" data-technologies="vue, c#, web">Second</a>
        <a href="#" data-technologies="open-source, c#, vue, web">Third</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>