<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.name %></title>
  <meta name="author" content="<%= htmlWebpackPlugin.options.name %>, <%= htmlWebpackPlugin.options.email %>">
</head>
<body>

<div id="app">
  <header id="header" class="box--shadow">
    <aside class="ls">
      <div class="ls__inner text--center">
        <div class="ls__image radius--circle"></div>
        <div class="ls__name">
          <h1><%= htmlWebpackPlugin.options.name %></h1>
        </div>
        <div class="ls__position">Web developer</div>
        <div class="ls__separator"></div>
        <div class="ls__pdf">
          <a href="src/files/resume.pdf">Download PDF</a>
        </div>
        <div class="ls__separator"></div>
        <div class="ls__social">
          <ul>
            <li>
              <a href="https://twitter.com/<%= htmlWebpackPlugin.options.social.twitter %>" target="_blank" rel="noopener">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/<%= htmlWebpackPlugin.options.social.linkedin %>" target="_blank" rel="noopener">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/<%= htmlWebpackPlugin.options.social.github %>" target="_blank" rel="noopener">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>
    <div class="rs">
      Description
    </div>
  </header>

  <div id="content">
    <div class="content__block projects box--shadow">
      <h2>Projects</h2>
    </div>
    <div class="content__block skills box--shadow">
      <h2>Skills</h2>
    </div>
  </div>
</div>

</body>
</html>