<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.full_name %></title>
  <meta property="og:title" content="Portfolio by <%= htmlWebpackPlugin.options.full_name %>" />
  <meta property="og:type" content="profile" />
  <meta property="profile:first_name" content="<%= htmlWebpackPlugin.options.first_name %>" />
  <meta property="profile:last_name" content="<%= htmlWebpackPlugin.options.last_name %>" />
  <meta property="profile:username" content="<%= htmlWebpackPlugin.options.username %>" />
  <meta property="profile:gender" content="<%= htmlWebpackPlugin.options.gender %>" />
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.app_url + htmlWebpackPlugin.options.image %>" />
</head>
<body>

<div id="app">
  <header id="header" class="box--shadow display--flex">
    <aside class="h-ls width--100">
      <div class="h-ls__inner text--center">
        <div class="h-ls__image radius--circle box--shadow"></div>
        <div class="h-ls__name mb--5">
          <h1 class="font--bold"><%= htmlWebpackPlugin.options.full_name %></h1>
        </div>
        <div class="h-ls__profession"><%= htmlWebpackPlugin.options.profession %></div>
        <div class="h-ls__separator"></div>
        <div class="h-ls__pdf">
          <a href="static/files/resume.pdf">Download CV</a>
        </div>
        <div class="h-ls__separator"></div>
        <div class="h-ls__social">
          <ul>
            <% for (const media of htmlWebpackPlugin.options.social_media) { %>
              <li>
                <a href="<%= media.href %>" title="<%= media.name %>" target="_blank" rel="noopener">
                  <i class="fa fa-<%= media.icon %>" aria-hidden="true"></i>
                </a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </aside>
    <div class="h-rs">
      <% if (htmlWebpackPlugin.options.find_job) { %>
        <div class="h-rs__alert">Find a job</div>
      <% } %>
      <div class="h-rs-wrap">
        <div class="h-rs-wrap__about">
          <h2 class="h-rs-wrap__about__title">About me</h2>
          <div class="h-rs-wrap__about__content">
            <% for (const p of htmlWebpackPlugin.options.about_me) { %>
              <p><%= p %></p>
            <% } %>
          </div>
        </div>
        <div class="h-rs-wrap__skills">
          <h2 class="h-rs-wrap__skills__title">Skills</h2>
          <ul class="font--bold">
            <% for (const skill of htmlWebpackPlugin.options.skills) { %>
              <li><%= skill %></li>
            <% } %>
          </ul>
        </div>
        <div class="h-rs-wrap__languages">
          <h2 class="h-rs-wrap__languages__title">Languages</h2>
          <ul class="font--bold">
            <% for (const lang of htmlWebpackPlugin.options.languages) { %>
              <li>
                <span class="name"><%= lang.name %></span>
                <span class="skill skill-<%= lang.skill.toLowerCase() %>"><%= lang.skill %></span>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
      <% if (htmlWebpackPlugin.options.display_repository) { %>
        <div class="h-rs__bottom">
          <a href="<%= htmlWebpackPlugin.options.github_url %>" title="Github repository" target="_blank" rel="noopener">
            Repository
          </a>
        </div>
      <% } %>
    </div>
  </header>

  <div id="content">
    <!--<div class="content__block experience">-->
      <!--<div class="content__block__title">-->
        <!--<h2>Experience</h2>-->
      <!--</div>-->
    <!--</div>-->
    <div class="content-block education">
      <div class="content-block__title">
        <h2>Education</h2>
      </div>
      <div class="content-block__content">
        <div class="education-list">
          <% for (const education of htmlWebpackPlugin.options.education) { %>
            <a href="<%= education.href %>" class="education-item" title="<%= education.name %>" target="_blank"
               rel="noopener, nofollow">
              <div class="education-item__image">
                <img src="<%= education.image %>" alt="<%= education.name %>">
              </div>
              <div class="education-item-content">
                <div class="education-item-content__title">
                  <%= education.name %>
                </div>
                <div class="education-item-content__subtitle">
                  <%= `${education.degree}, ${education.specialization}` %>
                </div>
                <div class="education-item-content__dates">
                  <%= `${education.year.receipt} - ${education.year.ending}` %>
                </div>
              </div>
              <div class="education-item__icon">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </div>
            </a>
          <% } %>
        </div>
      </div>
    </div>
    <!--<div class="content__block projects">-->
      <!--<div class="content__block__title">-->
        <!--<h2>Own projects</h2>-->
      <!--</div>-->
      <!--<div class="projects__filters">-->
        <!--&lt;!&ndash;TODO move to config file&ndash;&gt;-->
        <!--<ul>-->
          <!--<li data-filter="open-source">Open Source</li>-->
          <!--<li data-filter="php">PHP</li>-->
          <!--<li data-filter="web">HTML / CSS / JS</li>-->
          <!--<li data-filter="vue">Vue</li>-->
          <!--<li data-filter="c#">C#</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="projects__list">-->
        <!--<a href="#" data-technologies="open-source, php, web">First</a>-->
        <!--<a href="#" data-technologies="vue, c#, web">Second</a>-->
        <!--<a href="#" data-technologies="open-source, c#, vue, web">Third</a>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>

</body>
</html>
