/* General */

#content {

}

.content__block {
  padding: 20px;
  border-top: none;
  background: #fff;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  > h2 {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 20px;
    &:after {
      content: "";
      display: block;
      margin-top: 5px;
      border: 3px solid #333;
      width: 25px;
    }
  }
}

/* Projects */

.projects {

}

.projects__filters {
  > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    > li {
      display: inline-block;
      border: 1px solid rgba(0, 0, 0, .6);
      padding: 5px 10px;
      min-width: 70px;
      text-align: center;
      cursor: pointer;
      transition: .3s;
      &[clicked=true] {
        background: rgba(0, 0, 0, .6);
        color: rgba(255, 255, 255, .9);
      }
      &:hover {
        background: rgba(0, 0, 0, .7);
        color: rgba(255, 255, 255, .9);
      }
    }
  }
}
