* {
  box-sizing: border-box;
}

html {
  height: calc(100% + 1px);
}

body {
  margin: 50px 20px;
  background: #f7f7f7;
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    outline: 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  height: 4px;
  background-color: #374654;
}
