#header {
  display: flex;
  margin-bottom: 40px;
  background: #fff;
}

/* Left side */

.ls {
  position: relative;
  max-width: 300px;
  width: 100%;
  background: url('../images/pixabay/deer.jpg') no-repeat 50% 75%;
  background-size: cover;
  cursor: default;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #232526;
    background: linear-gradient(to top, rgba(65, 67, 69, .8), rgba(35, 37, 38, .8));
  }
}

.ls__inner {
  position: relative;
  padding: 50px;
}

.ls__image {
  width: 170px;
  height: 170px;
  line-height: 0;
  border: 3px solid #b0b0b0;
  margin: 0 auto 20px;
  background: url('../images/profile/avatar.png');
  background-size: cover;
}

.ls__name {
  color: rgba(255, 255, 255, .87);
  margin-bottom: 7px;
  > h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.ls__profession {
  color: rgba(255, 255, 255, .6);
  font-size: 1rem;
}

.ls__separator {
  margin: 35px 0;
  border-bottom: 1px solid #747474;
}

.ls__pdf {
  > a {
    display: block;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, .9);
    transition: .2s;
    &:hover {
      background: rgba(255, 255, 255, .2);
    }
  }
}

.ls__social {
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
    margin: 0 10px;
    a {
      color: #fff;
      line-height: 0;
      padding: 8px;
      opacity: .8;
      transition: .3s;
      &:hover {
        opacity: 1;
      }
    }
  }
}

/* Right side */

.rs {
  padding: 20px;
  width: 100%;
}
