* {
  box-sizing: border-box;
}

html, body {
  min-height: calc(100% + 1px);
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none !important;
  &[disabled] {
    pointer-events: none;
    cursor: default;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
