.header {
  position: relative;
}

.header-full__content, .header-full__background {
  will-change: transform;
}

.header-full__content__image {
  .avatar--image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
}

.header-full {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  padding: 70px 20px 50px;
  cursor: context-menu;
}

.header-full__resume {
  position: absolute;
  top: 15px;
  right: -120px;
  transition: right .25s;
  transition-timing-function: ease-in;
  > a {
    display: block;
    border-radius: 20px 0 0 20px;
    background: #f4f4f4;
    width: 120px;
    padding: 7px 0;
    color: #8b6565;
    text-align: center;
    font-weight: bold;
    line-height: 1;
  }
}

.header-full__content {
  text-align: center;
}

.header-full__content__name {
  font-size: 2.3em;
  margin: 40px 0 5px;
  color: #fff;
  text-shadow: 0 0 5px #000;
  letter-spacing: 1px;
}

.header-full__content__profession {
  color: #fff;
}

.header-full__content__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  a {
    padding: 5px;
    margin: 0 10px;
    color: #fff;
  }
}

.app_top {
  .header-full__resume {
    right: 0;
  }
}

// Lite
.header-lite {
  display: none;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  padding: 0 10px;

  // Animation
  will-change: transform;
  transform: translateY(-100%);
  transition: .1s;
  &.show {
    display: flex;
  }
  &.animation{
    transform: translateY(0);
  }
}

.header-lite__image {
  width: 30px;
  height: 30px;
}
