.header {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  padding: 70px 20px;
  cursor: context-menu;
}

.header__content, .header__background {
  will-change: transform;
}

.header__content__image {
  .avatar--image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
}

.header__resume {
  position: absolute;
  top: 15px;
  right: -120px;
  transition: right .25s;
  transition-timing-function: ease-in;
  > a {
    display: block;
    border-radius: 20px 0 0 20px;
    background: #f4f4f4;
    width: 120px;
    padding: 7px 0;
    color: #8b6565;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    transition: .2s;
    &:hover {
      width: 125px;
    }
  }
}

.header__content {
  text-align: center;
}

.header__content__name {
  font-size: 2.3em;
  margin: 40px 0 5px;
  color: #fff;
  text-shadow: 0 0 5px #000;
  letter-spacing: 1px;
}

.header__content__profession {
  color: #fff;
}

.header__content__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  a {
    padding: 5px 10px;
    margin: 0 5px;
    color: #fff;
    transition: .2s;
    min-width: 35px;
    &:hover {
      background: rgba(0, 0, 0, .2);
    }
  }
}

.app_top {
  .header__resume {
    right: 0;
  }
}

// Lite
.header-lite {
  display: none;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  will-change: transform;
  transform: translateY(-100%);
  transition: .2s;
  &.display {
    display: flex;
  }
  &.show{
    transform: translateY(0);
  }
  .background--image {
    &:before {
      background: rgba(0, 0, 0, .7);
    }
  }
}

.header-lite__image {
  width: 30px;
  height: 30px;
  transition: .3s;
  transform: translate(-50px, 0) rotate(-180deg);
}

.header-lite__name {
  display: inline-block;
  margin-left: 20px;
  color: #fff;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .header__content__name {
    font-size: 1.8rem;
  }
}
