@import 'global';
@import 'header';

#app {
  overflow-x: hidden;
  overflow-y: auto;
}

#content {
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
}
